Calls_for_Service_2018.xlsx filter=lfs diff=lfs merge=lfs -text
RespTimeANOVA0.rds filter=lfs diff=lfs merge=lfs -text
RespTimeANOVA00.rds filter=lfs diff=lfs merge=lfs -text
RespTimeANOVA1.rds filter=lfs diff=lfs merge=lfs -text
RespTimeANOVA2.rds filter=lfs diff=lfs merge=lfs -text
